body {
  background-color: #ebebeb;
}

.App {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-weight: lighter;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.header p {
  width: 60%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation .parking-status {
  background-color: black;
  margin: 0px 10px;
  color: white;
  padding: 2px 5px;
  border-radius: 10px;
}

.navigation .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation p {
  margin-left: 10px;
}

.navigation .clear-now {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.navigation .clear-now:hover {
  background-color: black;
  color: white;
}

.content {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .restaurant-list {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.content .card {
  width: 25%;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.content .card .img-title {
  width: 100%;
}

.content .card .img-title img {
  width: 100%;
  height: 140px;
}

.content .card .img-title .restaurant-title {
  font-weight: lighter;
  margin: 10px 0px;
  text-transform: capitalize;
}

.content .card .rating {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .card .rating p {
  margin: 0;
}

.content .card .status-type {
  text-transform: capitalize;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .card .status-type p {
  margin: 10px 0px;
}

.content .card .status-type .type-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .card .detail {
  text-align: center;
  color: white;
  padding: 10px 0px;
  width: 100%;
  background-color: #7979f6;
}

.loadMore {
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-top: 40px;
  background-color: black;
}

.priceFilter {
  padding: 5px;
  border: none;
  color: white;
  background-color: black;
}

.categoriesFilter {
  margin-left: 10px;
  padding: 5px;
  border: none;
  color: white;
  background-color: black;
}

.content-detail {
  max-width: 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: white;
  -webkit-box-shadow: 0px 0px 3px black;
          box-shadow: 0px 0px 3px black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  border-radius: 20px;
}

.content-detail img {
  width: 100%;
}

.content-detail .back-btn {
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: #7979f6;
}
/*# sourceMappingURL=App.css.map */